{% extends "base.html" %}
{% block content %}
    <h3>Edit Contact</h3>
    <form id="edit-contact" class="well form-horizontal"
          action="{{ url_for('edit_contact', contact_id=contact.key.id()) }}" method="post" accept-charset="utf-8">
        <fieldset>
            <legend> Info </legend>
            {{ form.hidden_tag() }}
            <input type="hidden" name="mode" value="edit" />
            {{ form_field(form.first_name, with_label=True) }}
            {{ form_field(form.last_name, with_label=True) }}
            {{ form_field(form.email_ids, with_label=True) }}
        </fieldset>
        <fieldset>
            <legend> Phone Info </legend>
            {% for phone_number in form.phone_numbers %}
                {% for field in phone_number %}
                    {% if field.id != 'csrf_token' %}
                        {{ form_field(field) }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </fieldset>
        <fieldset>
            <legend> Address Info </legend>
            {% for address in form.addresses %}
                {% for field in address %}
                    {% if field.id != 'csrf_token' %}
                        {{ form_field(field) }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </fieldset>
        <fieldset>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Save Changes"/>
                    <a class="btn cancel" href="{{ url_for('list_contacts') }}">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock content %}
