{% extends "base.html" %}
{% block content %}
    <h3> Toy application to manage your Address Book. </h3>
    <div class="well">
    <ul>
    <li>The login is done via facebook authentication</li>
    <li>For the first time when a user logs-in, the user's facebook friends will be pulled into the contacts database and an email will be sent upon import completion</li>
    <li>Basic CRUD functionality provided</li>
    </ul>
    </div>
{% endblock content %}