{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">All Contacts</h1>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Updated on</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            {% set contact_id = contact.key.id() %}
            <tr>
                <td>{{ contact.first_name }}</td>
                <td>{{ contact.last_name }}</td>
                <td class="nowrap">{{ contact.updated.strftime('%b %d, %Y %I:%M %p') }}</td>
                <td>
                    <a href="{{ url_for('view_contact', contact_id=contact_id) }}" class="btn btn-default btn-mini">View</a>
                </td>
                <td>
                    <a href="{{ url_for('edit_contact', contact_id=contact_id) }}" class="btn btn-primary btn-mini">Edit</a>
                </td>
                <td>
                    <form method="post" action="{{ url_for('delete_contact', contact_id=contact_id) }}">
                        <button onclick="return confirm('Are you sure you want to delete?');" class="btn btn-danger btn-mini">Delete</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="7">No contacts yet</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary" data-toggle="modal" data-target="#new-contact-modal">
            <i class="icon-plus-sign icon-white"></i>
            New Contact
        </a>
    </p>
    {% include 'new_contact.html' %} {# pull in new_contact form (modal dialog) #}

{% endblock content %}

{% block tail_script %}
    <script>
        var FormHelpers = {
            validate: function (form, evt) {
                // Form validation for modal dialog
                var first_name = form.find('#first_name').val();
                var last_name = form.find('#last_name').val();
                var email_ids = form.find('#email_ids').val();
                if (!(first_name)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#first_name', 'First Name is required', 'right');
                }
                if (!(last_name)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#last_name', 'Last Name is required', 'right');
                }
            },
            init: function () {
                var self = this;
                var contact_form = $('#new-contact-form');
                contact_form.on('submit', function (evt) {
                    self.validate(contact_form, evt)
                });
            }
        };
        $(document).ready(function() {
            FormHelpers.init();
            if ($(".alert-error")[0]) {
                $('#new-contact-modal').modal('show');
                }
        });
    </script>
{% endblock tail_script %}
