{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

<h1 id="">All Contacts</h1>
<div>&nbsp;</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>EMAIL IDs</th>
        <th>Updated on</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
    {% set contact_id = contact.key.id() %}
    <tr>
        <td>{{ contact.first_name }}</td>
        <td>{{ contact.last_name }}</td>
        <td>{{ contact.email_ids | join(',')}} </td>
        <td class="nowrap">{{ contact.updated.strftime('%b %d, %Y %I:%M %p') }}</td>
    </tr>
    {% else %}
    <tr><td colspan="5">No contacts yet</td></tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
