{% from 'includes/my_macros.html' import form_field %}
<div class="modal hide fade" id="new-contact-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Add a New Contact</h3>
    </div>
    <div class="modal-body">
        <form id="new-contact-form" class="well form-horizontal"
            action="{{ url_for('list_contacts') }}" method="post" accept-charset="utf-8">
            <fieldset>
                {{ form.hidden_tag() }}
                {{ form_field(form.first_name, with_label=True) }}
            {{ form_field(form.last_name, with_label=True) }}
            {{ form_field(form.email_ids, with_label=True) }}
            </fieldset>
            <fieldset>
                <legend> Phone Info </legend>
                {% for phone_number in form.phone_numbers %}
                    {% for field in phone_number %}
                        {% if field.id != 'csrf_token' %}
                            {{ form_field(field) }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend> Address Info </legend>
                {% for address in form.addresses %}
                    {% for field in address %}
                        {% if field.id != 'csrf_token' %}
                            {{ form_field(field) }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </fieldset>
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Add Contact"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

