{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}
    {% set contact_id = contact.key.id() %}
    <h1 id="">{{contact.first_name}} {{contact.last_name}}</h1>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email ID</th>
            </tr>
        </thead>
        <tbody>
            {% for email in contact.email_ids %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ email }}</td>
            </tr>
            {% else %}
            <tr><td colspan="7">No emails yet</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for phone_number in contact.phone_numbers %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ phone_number.type }}</td>
                <td>{{ phone_number.number }}</td>
            </tr>
            {% else %}
            <tr><td colspan="7">No phone numbers yet</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Street</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            {% for address in contact.addresses %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ address.type }}</td>
                <td>{{ address.street }}</td>
                <td>{{ address.city }}</td>
            </tr>
            {% else %}
            <tr><td colspan="7">No addresses yet</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}