<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Flask Address Book</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        {% if not session.user %}
                            <a href="{{ url_for('login') }}">Login using FB</a>
                        {% else %}
                            <a href="{{ url_for('logout') }}">Logout</a>
                        {% endif %}
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!-- /.navbar .container -->
    </div><!-- /.navbar-inner -->
</div><!-- /navbar -->
